VS_Projects/MyWcfConsumer/MyWcfConsumer/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Question">
    <xs:sequence>
      <xs:element minOccurs="0" name="QuestionId" type="xs:int" />
      <xs:element minOccurs="0" name="Rating" type="xs:int" />
      <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Question" nillable="true" type="tns:Question" />
</xs:schema>